* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    color: #270949;
    font-family: "Roboto", sans-serif;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#background{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#workingarea{
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    max-width: 1600px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    font-weight: 600;
}
#nav{
    width: 100%;
    padding: 20px 0;
}
#navlogo img{
    height: 15vh;
    margin-top: 5px;
}
.navbarList{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    list-style: none;
    font-size: 20px;
}
.navbarList li:hover{
    background-color: #e7e7e7;
    padding: 20px;
}
.navbarList a{
    text-decoration: none;
}
.navbar{
    display: flex;
}
#getquote{
background-color: #270949;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  font-size: x-large;
 transition: .6s ease-in-out;
}
#getquote:hover {
  background-color: #ffffff;
  color: #270949;
  border: 1px solid #270949;
}
.links a{
    text-decoration: none;
}
.links{
    list-style: none;
}
#contactlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #270A49;
    height: 5%;
}
.links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.links a{
    color: #ffffff;
    font-size: large;
}
.hero img{
width: 100%;
height: 100vh;
object-fit: cover;
}