:root {
  --theme-color: #5D5DFF;
  --bg-color: #151719;
  --text-color: #fff;
  --link-color: #0077cc;
  --font-family: "Roboto", sans-serif;
  --header-bg: #5D5DFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 1920px;
    min-width: 1025px;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
} 

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional */
  margin-bottom: 0%;
  border-bottom: 1px solid #9ba9b4;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

#contactlist{
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-color);
    padding: 0 3%;
}

#navbottom{
    width: 100%;
    height: 150%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    margin: 1% 0;
}

.links a:hover{
    transform: scale(1.25);
    color: var(--text-color);
}
.leftheaderlinks ul.links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.leftheaderlinks ul.links li a:hover {
  color: var(--bg-color);
  transform: scale(1.1);
}
.links{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
.links a{
    color: var(--bg-color);
    font-size: large;
    text-decoration: none;
}
.rightheaderlinks ul.links li {
  display: inline-block;
  margin: 0.5rem;
}

.rightheaderlinks ul.links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--theme-color);
  transition: all 0.5s ease;
  font-size: 20px;
}

.rightheaderlinks ul.links li a:hover {
  background-color: var(--theme-color);
  color: var(--text-color);
  transform: scale(1.25);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

.navbarList{
    display: flex;
    justify-content: space-between;
    gap: 1.1rem;
    list-style: none;
    font-size: 1.3rem;
    
}
.navbarList a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
.navbar{
    display: flex;
    position: relative;
    top: 30%;
}
.dropdown{
    position: relative;
}
.dropdown-content{
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 180%;
  left: 0;
  background-color: var(--theme-color);
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  transition: max-height 0.4s ease, padding 0.5s ease;
  padding: 0 0;
  text-transform: uppercase;
  
}
.dropdown-content li {
  padding: 0.75rem 1rem;
}
.dropdown-content li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  
}
.dropdown-content li:hover{
   background-color: inherit;
   transform: translateY(-0.25rem); /* Lifts the item up */
    background-color: var(--bg-color);   /* Optional: subtle background change */

}
.dropdown:hover .dropdown-content {
  display: block;
  color: var(--bg-color);
  max-height: 31.25rem;
  padding: 0.6rem 0;
}

.c-button-nav {
    appearance: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: .057em;
    text-transform: uppercase;
    background: 0 0;
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.8rem 1.75rem 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.286;
    text-decoration: none;
    transition: box-shadow .42s cubic-bezier(.165,.84,.44,1), color .42s cubic-bezier(.165,.84,.44,1), back-ground .42s cubic-bezier(.165,.84,.44,1);
    display: block;
    transition: .6s ease-in-out;
    
}

.v--primary
 {
    color: var(--text-color);
    fill: var(--bg-color);
    background-color: var(--theme-color);
 }

 .v--primary:hover{
    background-color: var(--bg-color);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
 }

/* Footer CSS */

footer{
        height: 60%;
        width: 100%;
        color: var(--text-color);
        background-color: var(--theme-color);
        padding: 2rem 8rem 0.5rem 8rem;
        display: flex;
        flex-direction: column;
}

.footertop{
  height: 80%;
  border-bottom: 1px solid var(--bg-color);
  padding: auto 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10rem;
}

.footerbottom{
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

.footerlinks ul.links li {
  display: inline-block;
  margin: 0.5rem;
}

.footerlinks ul.links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.5s ease;
  font-size: 1rem;
}

.footerlinks ul.links li a:hover {
  background-color: var(--theme-color);
  color: var(--bg-color);
  transform: scale(1.2);
}

.footertop-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding-bottom: 2rem;
}
.footertop-left{
  padding-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* Adjust layout, font sizes, paddings, columns */

#contactlist{
  flex-direction: column;
}
#navbottom, #leftcontactlist, #rightcontactlist{
  transform: scale(75%);
}
.navbar{
  transform: scale(75%);
}
#quote{
  transform: scale(75%);
}
.footerlinks{
  transform: scale(75%);
}
}

/* Small devices (phones) */
@media (max-width: 767px) and (min-width: 320px){
  /* Stack elements, simplify nav, smaller images */
#contactlist{
  flex-direction: column;
  padding-top: 0.5rem auto;
}
#navbottom{
  width: 100%;
}
.navbarList{
display: none;
}
.hamburger{
  display: block;
}
.footerbottom{
  flex-direction: column;
  margin-top: 1rem;
}
.footerlinks{
  transform: scale(75%);
}
}


@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
   50% { transform: translateY(-40px) rotate(45deg); }
  100% { transform: translateY(0px) rotate(0deg); }
    }

.container {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 3rem;
      font-weight: bolder;
      color: #ffffff;
      justify-content: center;
      line-height: 2rem;
    }

    .left, .right {
      transition: transform 0.6s ease-in-out;
    }

    .middle {
      height: 3.5rem;
      width: 350px;
      overflow: hidden;
      position: relative;
    }

    .word-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: transform 0.6s ease-in-out;
    }

    .word {
    color: #5D5DFF;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
    }
.maincontent h4{
    font-size: 1.2rem;
    line-height: 1.555;
    font-weight: unset;
}
@keyframes slideText {
      0% { transform: translateY(0%); opacity: 1; }
      20% { transform: translateY(-100%); opacity: 1; }
      40% { transform: translateY(-200%); opacity: 1; }
      60% { transform: translateY(-300%); opacity: 1; }
      80% { transform: translateY(-200%); opacity: 1; }
      100% { transform: translateY(0%); opacity: 1; }
    }
    .hero{
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }
#hero2{
      position: absolute;
      animation: slideText 6s infinite;
    }
#hero2{
    color: #5D5DFF;
}
.maincontent h1{
    color: #000;
    font-size: 3.5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.c-button {
    appearance: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: .057em;
    text-transform: uppercase;
    background: 0 0;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 19px 40px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.286;
    text-decoration: none;
    transition: box-shadow .42s cubic-bezier(.165,.84,.44,1), color .42s cubic-bezier(.165,.84,.44,1), back-ground .42s cubic-bezier(.165,.84,.44,1);
    display: block;
    transition: .6s ease-in-out;
    
}
.v--secondary
 {
    color: #5D5DFF;
    fill: #5D5DFF;
    background-color: white;
    box-shadow: inset 0 0 0 1px #5D5DFF;
}
.v--primary
 {
    color: white;
    fill: #151719;
    background-color: #5D5DFF;
 }
 .v--primary:hover{
    /* background-color: #430d49; */
    background-color: #151719;
    color: #5D5DFF;
    border: 1px solid #5D5DFF;
 }
 .v--secondary:hover{
    /* border: 1.5PX SOLID #430d49; */
    background-color: #151719;
    color: #5D5DFF;
    border: 1px solid #151719;
    
 }
      .logo-container {
      width: 90%;
      overflow: hidden;
      background: #f9f9f9;
      margin: 1rem 1rem;
      position: relative;
      left: 4%;
    }

    .logo-track {
      display: inline-block;
      white-space: nowrap;
      animation: scroll-left-to-right 70s linear infinite;
    }

    .logo-track img {
      height: 60px;
      margin: 0 2rem;
      vertical-align: middle;
      transition: transform 0.3s;
    }

    .logo-track img:hover {
      transform: scale(1.1);
    }

    @keyframes scroll-left-to-right {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
      .logo-track img {
        height: 45px;
        margin: 0 1rem;
      }
    }

    @media (max-width: 480px) {
      .logo-track img {
        height: 35px;
        margin: 0 0.5rem;
      }
    }
 .insitevideo{
    width: 85%;
    margin-bottom: 3%;
    border: 5px solid #5D5DFF;
    border-radius: 10px;
 }
 
.services-cards{
  /* width: 100%; */
   height: 100%;
   margin-bottom: 2rem;
}
.services{
  margin: 0 18%;
  display: grid;
  grid-template-rows: 0.8fr 2.2fr;
}
.description{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#firstline{
 font-size: 1.25rem;
 font-weight: 1000;
 letter-spacing: 0.5px;
 line-height: 1.5rem;
 text-transform: uppercase;
}
#secondline{
font-size: 3rem;
font-weight: 1000;
 letter-spacing: 0.5px;
 line-height: 3rem;
text-transform: uppercase;
}
#thirdline{
font-size: 1.25rem;
line-height: 2.5rem;
text-align: center;
}
.servicecards{
  width: 100%;
  /* background-color: #c51a1a; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1%;
}
.card{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 2%;
  width: 13rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #151719;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem;
  padding: 1rem;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.card img{
  width: 100%;
  /* height: 25rem; */
  height: auto;
  display: block;
  object-fit: cover;
  margin-bottom: 2%;
  border-radius: 1%;
}

    .btn {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 12px 24px;
      background-color: #5D5DFF;
      color: #151719;
      font-weight: bold;
      border: none;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      width: 50%;
    }

   .btn::after {
      content: '';
      position: absolute;
      border: 1px solid #5D5DFF;
    }

    .btn::after {
      bottom: -15px;
      right: 0px;
      width: 100%;
      height: 0;
      border-bottom: 2px solid #5D5DFF;
    }

    .btn:hover {
      background-color: #151719;
      color: #5D5DFF;
      border: 1px solid #5D5DFF;
      transform: translateY(-2px);
    }
.requestservice{
  display: flex;
  color: #151719;
  width: 100%;
  height: 35vh;
  padding: 0% 15%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #5D5DFF;
  gap: 25%;
}
 .requestservicebtn {
      display: inline-flex;
      font-size: x-large;
      align-items: center;
      gap: 10px;
      padding: 12px 24px;
      background-color: #151719;
      color: #5D5DFF;
      font-weight: bolder;
      border: none;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      width: 100%;
    }

   .requestservicebtn::after {
      content: '';
      position: absolute;
      border: 1px solid #151719;
    }

    .requestservicebtn::after {
      bottom: -15px;
      right: 0px;
      width: 100%;
      height: 0;
      border-bottom: 2px solid #5D5DFF;
    }

    .requestservicebtn:hover {
      background-color: #5D5DFF;
      color: #151719;
      border: 1px solid #151719;
      transform: translateY(-2px);
      transform: scale(1.25);
    }
    .brands{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 5%;
    }
    .brandsdescription{
      width: 40%;
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .brandslogo{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .brandlogo{
      width: 30px;
      height: 30px;
      background-color: aqua;
    }