* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    color: #481A54;
    font-family: "Roboto", sans-serif;
    /* position: relative; */
    
} 
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; /* or match your site background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional */
  min-height: 20%;
    margin-bottom: 0%;
    /* overflow: hidden; */
}
#contactlist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #451C4A;
    height: 5vh;
    padding: 0 3%;
    position: absolute;
    z-index: 1;
}
.links a:hover{
    transform: scale(1.25);
    color: white;
}
.leftheaderlinks ul.links li a {
    display: inline-flex;
  justify-content: center;
  align-items: center;
}
.leftheaderlinks ul.links li a:hover {
  color: white;
  transform: scale(1.1);
}
.links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.links a{
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}
.headerlinks ul.links li {
  display: inline-block;
  margin: 8px;
}

.headerlinks ul.links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #451C4A;
  transition: all 0.5s ease;
  font-size: 20px;
}

.headerlinks ul.links li a:hover {
  background-color: #321536;
  color: white;
  transform: scale(1.25);
}
#navbottom{
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    max-width: 1600px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    font-weight: 600;
    position: relative;
}
#navbottom img{
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    top: 2.5%;
    left: 3%;
}
#nav{
    width: 100%;
    position: relative;
}
#navlogo img{
    height: 23vh;
    margin-top: 5px;
}
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}
.navbarList{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    list-style: none;
    font-size: 20px;
    
}
.navbarList a{
    text-decoration: none;
    color: #481A54;
    cursor: pointer;
}
.navbar{
    display: flex;
    position: relative;
    top: 30%;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 180%;
  left: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  transition: max-height 0.4s ease, padding 0.5s ease;
  padding: 0 0;
  text-transform: uppercase;
  
}
.dropdown-content li {
  padding: 12px 16px;
}
.dropdown-content li a {
  text-decoration: none;
  color: #481A54;
  display: block;
  
}
.dropdown-content li:hover{
   background-color: inherit;
   transform: translateY(-4px); /* Lifts the item up */
    background-color: #f0f0f0;   /* Optional: subtle background change */

}
.dropdown:hover .dropdown-content {
  display: block;
  color: #000;
  max-height: 500px;
  padding: 10px 0;
}
#quote{
    position: relative;
    top: 30%;
}
#getquote{
background-color: #451C4A;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: x-large;
 transition: .6s ease-in-out;
}
#getquote:hover{
  background-color: #ffffff;
  color: #451C4A;
  border: 1px solid #451C4A;
}
.maincontent h1{
    color: #000;
    font-size: 3.5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.c-button {
    appearance: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: .057em;
    text-transform: uppercase;
    background: 0 0;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 19px 40px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.286;
    text-decoration: none;
    transition: box-shadow .42s cubic-bezier(.165,.84,.44,1), color .42s cubic-bezier(.165,.84,.44,1), back-ground .42s cubic-bezier(.165,.84,.44,1);
    display: block;
    transition: .6s ease-in-out;
    
}
.v--secondary
 {
    color: #451C4A;
    fill: #451C4A;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #451C4A;
}
.v--primary
 {
    color: #fff;
    fill: #fff;
    background-color: #451C4A;
 }
 .v--primary:hover{
    /* background-color: #430d49; */
    background-color: #ffffff;
    color: #451C4A;
    border: 1px solid #451C4A;
 }
 .v--secondary:hover{
    /* border: 1.5PX SOLID #430d49; */
    background-color: #451C4A;
    color: white;
    border: 1px solid white;
    
 }

 /* Homepage Main Section */
.firstsection{
    height: 100vh;
}
.secondsection{
    height: 100vh;
}
.mainsection{
    /* width: 100%; */
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    margin-top: 3%;
    margin-bottom: 25%;
}
.maincontent{
    /* background-color: #ffffff; */
    /* margin-top: 5vh; */
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
     text-align: center;
    /* height: 100vh; */
     overflow: hidden;
}
    /* Shapes from before */
    .shape {
      position: absolute;
      border-radius: 50%;
      opacity: 0.6;
      animation: float 8s infinite ease-in-out;
      z-index: 0;
    }

    .circle1 {
      width: 80px;
      height: 80px;
      /* background-color: #36C5F0; */
      background-color: white;
      top: 3%;
      left: 5%;
      animation-delay: 0s;
    }

    .circle2 {
      width: 60px;
      height: 60px;
      /* background-color: #ECB22E; */
      background-color: white;
      top: 6%;
      left: 90%;
      animation-delay: 1s;
    }

    .square {
      width: 70px;
      height: 70px;
      /* background-color: #2EB67D; */
      background-color: white;
      top: 30%;
      left: 5%;
      border-radius: 10px;
      animation-delay: 2s;
    }

    .triangle {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      /* border-bottom: 70px solid #E01E5A; */
      background-color: white;
      top: 30%;
      left: 90%;
      position: absolute;
      animation: float 8s infinite ease-in-out;
      animation-delay: 3s;
    }

    @keyframes float {
      0% { transform: translateY(0px) rotate(0deg); }
      50% { transform: translateY(-40px) rotate(45deg); }
      100% { transform: translateY(0px) rotate(0deg); }
    }
.container {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 3rem;
      font-weight: bolder;
      color: #1d1c1d;
      justify-content: center;
      line-height: 2rem;
    }

    .left, .right {
      transition: transform 0.6s ease-in-out;
    }

    .middle {
      height: 3.5rem;
      width: 350px;
      overflow: hidden;
      position: relative;
    }

    .word-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: transform 0.6s ease-in-out;
    }

    .word {
    color: #881FC1;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
    }
.maincontent h4{
    font-size: 1.2rem;
    line-height: 1.555;
    font-weight: unset;
}
@keyframes slideText {
      0% { transform: translateY(0%); opacity: 1; }
      20% { transform: translateY(-100%); opacity: 1; }
      40% { transform: translateY(-200%); opacity: 1; }
      60% { transform: translateY(-300%); opacity: 1; }
      80% { transform: translateY(-200%); opacity: 1; }
      100% { transform: translateY(0%); opacity: 1; }
    }
    .hero{
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }
#hero2{
      position: absolute;
      animation: slideText 6s infinite;
    }
#hero2{
    color: #881FC1;
}
.maincontent h1{
    color: #000;
    font-size: 3.5rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.c-button {
    appearance: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: .057em;
    text-transform: uppercase;
    background: 0 0;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 19px 40px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.286;
    text-decoration: none;
    transition: box-shadow .42s cubic-bezier(.165,.84,.44,1), color .42s cubic-bezier(.165,.84,.44,1), back-ground .42s cubic-bezier(.165,.84,.44,1);
    display: block;
    transition: .6s ease-in-out;
    
}
.v--secondary
 {
    color: #451C4A;
    fill: #451C4A;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #451C4A;
}
.v--primary
 {
    color: #fff;
    fill: #fff;
    background-color: #451C4A;
 }
 .v--primary:hover{
    /* background-color: #430d49; */
    background-color: #ffffff;
    color: #451C4A;
    border: 1px solid #451C4A;
 }
 .v--secondary:hover{
    /* border: 1.5PX SOLID #430d49; */
    background-color: #451C4A;
    color: white;
    border: 1px solid white;
    
 }
 .logo img{
    width: 10%;
    object-fit: cover;
 }
 .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: -3%;
    scale: 130%;
 }
 .insitevideo{
    width: 65%;
    border: 10px solid #451C4A;
    border-radius: 10px;
 }
 


 /* Footer CSS */

 footer{
        height: 60%;
        width: 100%;
        margin-top: 450px;
        color: #fff;
    }
    .footertop{
        height: 80%;
        background-color: #451C4A;
        border-bottom: 1px solid white;
    }
    .footerbottom{
        height: 20%;
        background-color: #451C4A;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15%;
        align-items: center;
    }
.footerlinks ul.links li {
  display: inline-block;
  margin: 8px;
}

.footerlinks ul.links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #451C4A;
  transition: all 0.5s ease;
  font-size: 20px;
}

.footerlinks ul.links li a:hover {
  background-color: #321536;
  color: white;
  transform: scale(1.7);
}
.footertop{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    gap: 35%;
}
.footertop-left{

}
.footertop-right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.services{
  height: 100vh;
  margin: 0 18%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.description{
  width: 100%;
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
#firstline{
 font-size: 1rem;
 font-weight: 1000;
 letter-spacing: 0.5px;
 line-height: 1.5rem;
 text-transform: uppercase;
}
#secondline{
font-size: 2rem;
font-weight: 1000;
 letter-spacing: 0.5px;
 line-height: 3rem;
text-transform: uppercase;
}
#thirdline{
font-size: 1.25rem;
line-height: 2.5rem;
text-align: center;
}
.servicecards{
  width: 100%;
  /* background-color: #c51a1a; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;
}
.card{
display: flex;
flex-direction: column;
gap: 2%;
}
.card img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}